<section class="about section-offset" id="about">
  <div class="container">

    <div class="about__inner">
      <h2 class="visually-hidden">
        О школе Roboschool
      </h2>
      <p class="about__descr">
        <span class="about__descr-highligth">
          Robo School
        </span> – учреждение для формирования кадрового педагогического резерва в сфере робототехникии
        программирования
      </p>
      <ul class="about__list">
        <li class="about__item">
          <div class="about__digit">10</div>
          <p class="about__text">УМК по различным направлениям по робототехнике</p>
        </li>
        <li class="about__item">
          <div class="about__digit">20</div>
          <p class="about__text">Школ, в которых запущена робототехника</p>
        </li>
        <li class="about__item">
          <div class="about__digit">100</div>
          <p class="about__text">Педагогов прошедших курсы повышения квалификации</p>
        </li>
        <li class="about__item">
          <div class="about__digit">10 000</div>
          <p class="about__text">Педагогов прошедших курсы повышения квалификации</p>
        </li>
      </ul>

    </div>

  </div>
</section>