<section class="benefits section-offset">
  <div class="container">
    <div class="benefits__inner">
      <h2 class="benefits__title section__title">Что вы получите после курса</h2>
      <ul class="benefits__list">
        <li class="benefits__item">
          <h3 class="benefits__subtitle">Удостоверение</h3>
          <p class="benefits__text">Дающее право преподавать робототехнику для детей 6-12 лет в образовательных
            учреждениях</p>
        </li>
        <li class="benefits__item">
          <h3 class="benefits__subtitle">Знания</h3>
          <p class="benefits__text">По основам разработки учебно-методических комплексов
            по робототехнике и программированию</p>
        </li>
        <li class="benefits__item">
          <h3 class="benefits__subtitle">Практику
            <span class="tooltip">
              <button class="tooltip__btn" aria-describedby="id1">
                <svg class="">
                  <use xlink:href="img/sprite.svg#tooltip-icon"></use>
                </svg>
              </button>
              <span class="tooltip__txt" role="tooltip" id="id1">
                <span class="visually-hidden">Тултип: </span>
                При наличии свободных мест
              </span>
            </span>
          </h3>
          <p class="benefits__text">Возможность пройти практику по преподаванию робототехники на базе R:ED LAB (в
            оффлайн или онлайн формате)</p>
        </li>
      </ul>
    </div>
  </div>
</section>