<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__content">
        <h1 class="hero__title">
          ROBO SCHOOL
          <span class="hero__title-text">
            Курсы повышения квалификации по робототехнике для педагогов начальной школы
          </span>
        </h1>
        <a href="#tariffs" class="btn hero__link" data-scroll>Записаться на курс</a>
      </div>
      <picture>
        <source srcset="img/hero-image.avif" type="image/avif">
        <source srcset="img/hero-image.webp" type="image/webp">
        <img loading="lazy" src="img/hero-image.png" class="hero__image" width="793" height="917" alt="Student">
      </picture>
    </div>

  </div>
</section>